<%= form_with(model: [@psicologo, paciente], local: true) do |form| %>
  <% if paciente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(paciente.errors.count, "error") %> prohibited this paciente from being saved:</h2>

      <ul>
        <% paciente.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome %>
  </div>

  <div class="field">
    <%= form.label :cpf %>
    <%= form.text_field :cpf %>
  </div>

  <div class="field">
    <%= form.label :telefone %>
    <%= form.text_field :telefone %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :endereco %>
    <%= form.text_field :endereco %>
  </div>

  <div class="field">
    <%= form.label :estado_civil %>
    <%= form.select :estado_civil,['Solteiro', 'Casado','Divorciado','Outros'] %>
  </div>

  <div class="field">
    <%= form.label :quant_filhos %>
    <%= form.select :quant_filhos,['0', '1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20'] %>
  </div>

  <div class="field">
    <%= form.label :historico_doencas %>
    <%= form.text_area :historico_doencas %>
  </div>

  <div class="field">
    <%= form.label :medicamentos %>
    <%= form.text_area :medicamentos %>
  </div>

  <div class="field">
    <%= form.label :eh_fumante %>
    <%= form.select :eh_fumante,['Sim', 'Não'] %>
  </div>

  <div class="field">
    <%= form.label :ingere_alcool %>
    <%= form.select :ingere_alcool,['Sim', 'Não'] %>
  </div>

  <div class="actions">
    <%= form.submit "Cadastrar", id:"submit"%>
  </div>
<% end %>
