<%= form_with(model: paciente) do |form| %>
  <% if paciente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(paciente.errors.count, "error") %> prohibited this paciente from being saved:</h2>

      <ul>
        <% paciente.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome %>
  </div>

  <div class="field">
    <%= form.label :cpf %>
    <%= form.text_field :cpf %>
  </div>

  <div class="field">
    <%= form.label :telefone %>
    <%= form.text_field :telefone %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :endereco %>
    <%= form.text_field :endereco %>
  </div>

  <div class="field">
    <%= form.label :estado_civil %>
    <%= form.text_field :estado_civil %>
  </div>

  <div class="field">
    <%= form.label :quant_filhos %>
    <%= form.text_field :quant_filhos %>
  </div>

  <div class="field">
    <%= form.label :historico_doencas %>
    <%= form.text_area :historico_doencas %>
  </div>

  <div class="field">
    <%= form.label :medicamentos %>
    <%= form.text_area :medicamentos %>
  </div>

  <div class="field">
    <%= form.label :eh_fumante %>
    <%= form.text_field :eh_fumante %>
  </div>

  <div class="field">
    <%= form.label :ingere_alcool %>
    <%= form.text_field :ingere_alcool %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
