<p id="notice"><%= notice %></p>

<h1>Pacientes</h1>
<% if !@psicologo.pacientes.empty? %>
<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Cpf</th>
      <th>Telefone</th>
      <th>Email</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pacientes.each do |paciente| %>
      <tr>
        <td><%= paciente.nome %></td>
        <td><%= paciente.cpf %></td>
        <td><%= paciente.telefone %></td>
        <td><%= paciente.email %></td>
        <td><%= link_to 'Show', psicologo_paciente_path(@psicologo, paciente) %></td>
        <td><%= link_to 'Edit', edit_psicologo_paciente_path(@psicologo, paciente), id:"e-#{paciente.cpf}" %></td>
        <td><%= link_to 'Destroy', [@psicologo, paciente], id:"d-#{paciente.cpf}", method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Back', agenda_psicologo_path(usuario_atual) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%end %>
<br>

<%= link_to 'New Paciente', new_psicologo_paciente_path(@psicologo) %>
