<%= stylesheet_link_tag "psicologos" %>
<h1>AGENDA PSICOLOGIA</h1>

<%= link_to 'Listagem de pacientes', psicologo_pacientes_path(usuario_atual) %>
<br>
<%= link_to 'Listagem de sessões', psicologo_sessaos_path(usuario_atual) %>

<h1>Agenda</h1>
<%= form_tag agenda_psicologo_path(usuario_atual), :method => 'get' do %>
  <p>
    <%= date_field_tag :search, params[:search] %>
    <%= submit_tag "Buscar" %>
  </p>
<% end %>

<p>
  <% if !@sessaos_dia.nil? and !@sessaos_dia.empty? %>
  <table border="1">
    <thead>
    <tr>
      <th>Data</th>
      <th>Hora</th>
      <th>Paciente</th>
      </th>
    </tr>
    </thead>
    <tbody>
    <% @sessaos_dia.each do |sessao| %>
      <tr>
        <td><%= (sessao.data).strftime("%d/%m/%Y") %></td>
        <td><%= (sessao.hora).strftime("%H:%M") %></td>
        <td><%= buscar_paciente(sessao.paciente_id).nome %></td>
        <td><%= link_to 'Show', psicologo_sessao_path(@psicologo, sessao) %></td>
        <td><%= link_to 'Edit', edit_psicologo_sessao_path(@psicologo, sessao)%></td>
        <td><%= link_to 'Destroy', [@psicologo, sessao], method: :delete, data: { confirm: 'Are you sure?' } %></td>

      </tr>
      <%= %>
    <% end %>
    </tbody>
  </table>
<% end %>
</p>


