<p id="notice"><%= notice %></p>

<h1>Sessaos</h1>
<% if !@psicologo.sessaos.empty? %>
<table>
  <thead>
    <tr>
      <th>Data</th>
      <th>Hora</th>
      <th>Paciente</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sessaos.each do |sessao| %>
      <tr>
        <td><%= (sessao.data).strftime("%d/%m/%Y") %></td>
        <td><%= (sessao.hora).strftime("%H:%M") %></td>
        <td><%= buscar_paciente(sessao.paciente_id).nome %></td>
        <td><%= link_to 'Show', psicologo_sessao_path(@psicologo, sessao) %></td>
        <td><%= link_to 'Edit', edit_psicologo_sessao_path(@psicologo, sessao)%></td>
        <td><%= link_to 'Destroy', [@psicologo, sessao], method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Back', agenda_psicologo_path(usuario_atual) %></td>
      </tr>
      <%= %>
    <% end %>
  </tbody>
</table>
<%end %>
<br>

<%= link_to 'New Sessao', new_psicologo_sessao_path %>
