<p id="notice"><%= notice %></p>

<p>
  <strong>Data:</strong>
  <%= (@sessao.data).strftime("%d/%m/%Y") %>
</p>

<p>
  <strong>Hora:</strong>
  <%= (@sessao.hora).strftime("%H:%M") %>
</p>

<p>
  <strong>Paciente:</strong>
  <%= buscar_paciente( @sessao.paciente_id ).nome %>
</p>

<% if usuario_atual != nil %>
  <%= link_to 'Edit', edit_psicologo_sessao_path(@psicologo, @sessao), id: "edit" %> |
  <%= link_to 'Destroy', [@psicologo, @sessao], id:"delete", method: :delete, data: { confirm: 'Are you sure?' } %> |

<% end %>
<%= link_to 'Back', psicologo_sessaos_path(@psicologo) %>
