<!DOCTYPE html>
<html>
  <head>
    <title>AgendaPsicologia</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="menu-secao"> 
      <% if logado? %>
        <h5>Você esta logado como, <%= usuario_atual.nome %></h5>
        <%= button_to "Sair", '/logout', method: :delete%>
      <%end%>
    </div>
    <%= yield %>
  </body>
</html>
